<form [formGroup]="requestCredentials" (ngSubmit)="requestPasswordReset()" [hidden]="requested">
  <div class="row center-xs">
    <h3>Skriv i din epost för att återställa lösenordet</h3>
  </div>
  <div class="row center-xs">
    <mat-form-field class="col-xs-12 col-sm-10 col-md-7">
      <input matInput type="email" formControlName="email" placeholder="Epost">
    </mat-form-field>
  </div>
  <div class="row center-xs">
    <button mat-raised-button [disabled]="!requestCredentials.valid">Återställ</button>
  </div>
</form>
<form [formGroup]="confirmCredentials" (ngSubmit)="confirmPasswordReset()" [hidden]="!requested">
  <div class="row center-xs">
    <h3>Ange återställningskod och ditt nya lösenord</h3>
  </div>
  <div class="row center-xs">
    <mat-form-field class="col-xs-12 col-sm-10 col-md-7">
      <input matInput type="text" formControlName="resetCode" placeholder="Återställningskod">
    </mat-form-field>
  </div>
  <div class="row center-xs">
    <mat-form-field class="col-xs-12 col-sm-10 col-md-7">
      <input matInput type="password" formControlName="newPassword" placeholder="Nytt lösenord">
    </mat-form-field>
  </div>
  <div class="row center-xs">
    <button mat-raised-button color="primary" [disabled]="!confirmCredentials.valid">Byt lösenord</button>
  </div>
</form>
