<article class="full-height">
  <section class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h2>kontakta oss</h2>
    <section class="row">
      <div class="col-xs-12 col-sm-6 showcase showcase-contacts">
        <mat-icon>question_answer</mat-icon>
      </div>
      <div class="col-xs-12 col-sm-6 infospace">
        <mat-list class="contact-list">
          <h3 matSubHeader>Daniel</h3>
          <mat-list-item>
            <a href="tel:+46736227666">
              <button mat-button>
                <mat-icon color="primary">contact_phone</mat-icon>
                +46 736 22 76 66
              </button>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a href="mailto:daniel@alvenstrand.com">
              <button mat-button>
                <mat-icon color="primary">contact_mail</mat-icon>
                daniel@alvenstrand.com
              </button>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 matSubHeader>Lisa</h3>
          <mat-list-item>
            <a href="tel:+46733524141">
              <button mat-button>
                <mat-icon color="accent">contact_phone</mat-icon>
                +46 733 52 41 41
              </button>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a href="mailto:lisa.sorensen999@gmail.com">
              <button mat-button>
                <mat-icon color="accent">contact_mail</mat-icon>
                lisa.sorensen999@gmail.com
              </button>
            </a>
          </mat-list-item>
        </mat-list>
      </div>
    </section>
  </section>
</article>
