<div class="page" *ngIf="!protected" [class.under-construction]="under_construction">
  <mat-sidenav-container class="page-container">
    <mat-sidenav #sidenav class="page-sidenav">
      <nav>
        <a routerLink="/signin" routerLinkActive="active">Logga in</a>
        <a routerLink="/signup" routerLinkActive="active">Svara</a>
        <a routerLink="/forgot" routerLinkActive="active">Återställ lösenord</a>
      </nav>
    </mat-sidenav>

    <div class="page-sidenav-content">
      <header>
        <mat-toolbar>
          <mat-toolbar-row class="page-toolbar-nav">
            <button type="button" mat-button (click)="sidenav.open()">
              <mat-icon>menu</mat-icon>
            </button>
            <nav>
              <a routerLink="/signin" routerLinkActive="active">Logga in</a>
              <a routerLink="/signup" routerLinkActive="active">Svara</a>
              <a routerLink="/forgot" routerLinkActive="active">Återställ lösenord</a>
            </nav>
          </mat-toolbar-row>
        </mat-toolbar>
      </header>

      <main id="auth">
        <div class="video-container">
          <img class="poster" src="assets/videos/Nature-Sunset/snapshots/Nature-Sunset.jpg"/>
          <video class="fillWidth" autobuffer autoplay muted loop>
            <source src="assets/videos/Nature-Sunset/MP4/Nature-Sunset.mp4" type="video/mp4"/>
            <source src="assets/videos/Nature-Sunset/WEBM/Nature-Sunset.webm" type="video/webm"/>
            <source src="assets/videos/Nature-Sunset/OGV/Nature-Sunset.ogv" type="video/ogg"/>
            Your browser does not support the video tag. I suggest you upgrade your browser.
          </video>
        </div>
        <article class="row center-xs">
          <section class="col-xs-11 col-sm-9 col-md-7 col-lg-5">
            <div class="box" id="auth-content" #authContent [@routerTransition]="getState(o)">
              <router-outlet #o="outlet" (activate)="bindResize($event)"></router-outlet>
            </div>
          </section>
        </article>
      </main>
    </div>
  </mat-sidenav-container>
</div>

<div id="password-protect" [@fadeOutSlow] *ngIf="protected">
  <div class="row center-xs" [@keypadTransition] *ngIf="protected">
    <div class="col-xs-4 digit">
      <button mat-raised-button color="accent" (click)="digit(1)" #one>1</button>
    </div>
    <div class="col-xs-4 digit">
      <button mat-raised-button color="accent" (click)="digit(2)" #two>2</button>
    </div>
    <div class="col-xs-4 digit">
      <button mat-raised-button color="accent" (click)="digit(3)" #three>3</button>
    </div>
    <div class="col-xs-4 digit">
      <button mat-raised-button color="accent" (click)="digit(4)" #four>4</button>
    </div>
    <div class="col-xs-4 digit">
      <button mat-raised-button color="accent" (click)="digit(5)" #five>5</button>
    </div>
    <div class="col-xs-4 digit">
      <button mat-raised-button color="accent" (click)="digit(6)" #six>6</button>
    </div>
    <div class="col-xs-4 digit">
      <button mat-raised-button color="accent" (click)="digit(7)" #seven>7</button>
    </div>
    <div class="col-xs-4 digit">
      <button mat-raised-button color="accent" (click)="digit(8)" #eight>8</button>
    </div>
    <div class="col-xs-4 digit">
      <button mat-raised-button color="accent" (click)="digit(9)" #nine>9</button>
    </div>
    <div class="col-xs-12 digit">
      <button mat-raised-button color="accent" (click)="digit(0)" #zero>0</button>
    </div>
  </div>
  <div id="key-pressed" *ngIf="key !== ''" [@fadeOutSlow]>
    {{key}}
  </div>
</div>
