<mat-tab-group class="full-height">
  <mat-tab label="Tid & Plats">
    <article>
      <section class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>tid och plats</h2>
        <section class="row map-section" *ngIf="place_timeplace">
          <div class="col-xs-12 col-sm-6">
            <agm-map [latitude]="coordinates_timeplace[place_timeplace].lat" [longitude]="coordinates_timeplace[place_timeplace].lng" [zoom]="16">
              <agm-marker [latitude]="coordinates_timeplace[place_timeplace].lat" [longitude]="coordinates_timeplace[place_timeplace].lng"></agm-marker>
            </agm-map>
          </div>
          <div class="col-xs-12 col-sm-6">
            <mat-list>
              <h3 matSubHeader>{{coordinates_timeplace[place_timeplace].address}}</h3>
              <mat-list-item *ngFor="let info of coordinates_timeplace[place_timeplace].info">
                {{info}}
              </mat-list-item>
            </mat-list>
          </div>
        </section>
        <section class="row">
          <div class="col-xs-12 col-sm-6 showcase showcase-timeplace">
            <mat-icon>favorite</mat-icon>
            <span>
              <h2>26<br/>maj</h2>
            </span>
          </div>
          <div class="col-xs-12 col-sm-6 infospace">
            <mat-list>
              <h3 matSubHeader>15:00 - Vigsel</h3>
              <mat-list-item>
                <button mat-button class="place-button" (click)="place_timeplace = 'skansen'"><mat-icon color="accent">place</mat-icon>Skogaholms Köksträdgård</button>
              </mat-list-item>
              <br/>
              <mat-divider></mat-divider>
              <h3 matSubHeader>18:00 - Middag & Fest</h3>
              <mat-list-item>
                <button mat-button class="place-button" (click)="place_timeplace = 'clustret'"><mat-icon color="accent">place</mat-icon>Clustret</button>
              </mat-list-item>
            </mat-list>
          </div>
        </section>
      </section>
    </article>
  </mat-tab>
  <mat-tab label="Mat & Dryck">
    <article>
      <section class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>mat och dryck</h2>
        <section class="row">
          <div class="col-xs-12 col-sm-6 showcase showcase-fooddrink">
            <mat-icon>restaurant</mat-icon>
          </div>
          <div class="col-xs-12 col-sm-6 infospace">
            <mat-list>
              <h3 matSubHeader>Förrätt</h3>
              <mat-list-item>
                <span matLine>Mat</span>
                <span matLine>Kommer senare...</span>
              </mat-list-item>
              <mat-list-item>
                <span matLine>Dryck</span>
                <span matLine>Kommer senare...</span>
              </mat-list-item>
              <mat-divider></mat-divider>
              <h3 matSubHeader>Huvudrätt</h3>
              <mat-list-item>
                <span matLine>Mat</span>
                <span matLine>Kommer senare...</span>
              </mat-list-item>
              <mat-list-item>
                <span matLine>Dryck</span>
                <span matLine>Kommer senare...</span>
              </mat-list-item>
              <mat-divider></mat-divider>
              <h3 matSubHeader>Bröllopstårta</h3>
              <mat-list-item>
                <span matLine>Mat</span>
                <span matLine>Kommer senare...</span>
              </mat-list-item>
              <mat-list-item>
                <span matLine>Dryck</span>
                <span matLine>Kommer senare...</span>
              </mat-list-item>
            </mat-list>
          </div>
        </section>
      </section>
    </article>
  </mat-tab>
  <mat-tab label="Dress Code">
    <article class="full-height">
      <section class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>dress code</h2>
        <section class="row">
          <div class="col-xs-12 col-sm-6 showcase showcase-dresscode">
            <mat-icon>accessibility</mat-icon>
          </div>
          <div class="col-xs-12 col-sm-6 infospace">
            <mat-list>
              <h3 matSubHeader>Val av klädkod</h3>
              <mat-list-item>
                <a href="https://sv.wikipedia.org/wiki/Kl%C3%A4dkod#H%C3%B6gtidsdr%C3%A4kt_(Frack)" target="_blank">
                  <button mat-button>
                    <mat-icon color="primary">star</mat-icon>
                    Högtidsdräkt (Frack)
                  </button>
                </a>
              </mat-list-item>
              <mat-list-item>
                <a href="https://sv.wikipedia.org/wiki/Kl%C3%A4dkod#M%C3%B6rk_kostym" target="_blank">
                  <button mat-button>
                    <mat-icon color="primary">star_half</mat-icon>
                    Mörk kostym
                  </button>
                </a>
              </mat-list-item>
              <mat-list-item>
                <a href="https://sv.wikipedia.org/wiki/Kl%C3%A4dkod#Kavaj" target="_blank">
                  <button mat-button>
                    <mat-icon color="primary">star_border</mat-icon>
                    Kavaj
                  </button>
                </a>
              </mat-list-item>
              <br/>
              <mat-divider></mat-divider>
              <br />
              <br />
              <mat-list-item><em>Valet av klädkod är fritt, även om vi gärna ser att du är ditt finaste jag! Kontakta oss ifall du har frågor kring klädkoden, men var inte rädd att ta på dig vad du än är bekväm i.</em></mat-list-item>
            </mat-list>
          </div>
        </section>
      </section>
    </article>
  </mat-tab>
  <mat-tab label="Presenter">
    <article class="full-height">
      <section class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Presenter</h2>
        <section class="row">
          <div class="col-xs-12 col-sm-6 showcase showcase-gifts">
            <mat-icon>card_giftcard</mat-icon>
          </div>
          <div class="col-xs-12 col-sm-6 infospace">
            <mat-list>
              <mat-list-item>
                Under konstruktion...
              </mat-list-item>
            </mat-list>
          </div>
        </section>
      </section>
    </article>
  </mat-tab>
  <mat-tab label="Boende">
    <article class="full-height">
      <section class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>boende</h2>
        <section class="row map-section" *ngIf="place_living">
          <div class="col-xs-12 col-sm-6">
            <agm-map [latitude]="coordinates_living[place_living].lat" [longitude]="coordinates_living[place_living].lng" [zoom]="coordinates_living[place_living].zoom">
              <agm-marker [latitude]="coordinates_living[place_living].lat" [longitude]="coordinates_living[place_living].lng" [label]="coordinates_living[place_living].label"></agm-marker>
              <agm-marker [latitude]="coordinates_living['skansen'].lat" [longitude]="coordinates_living['skansen'].lng" [label]="coordinates_living['skansen'].label"></agm-marker>
              <agm-marker [latitude]="coordinates_living['clustret'].lat" [longitude]="coordinates_living['clustret'].lng" [label]="coordinates_living['clustret'].label"></agm-marker>
            </agm-map>
          </div>
          <div class="col-xs-12 col-sm-6">
            <mat-list>
              <h3 matSubHeader>{{coordinates_living[place_living].address}}</h3>
              <mat-list-item *ngFor="let info of coordinates_living[place_living].info">
                {{info}}
              </mat-list-item>
              <mat-list-item>
                <a href="{{coordinates_living[place_living].link}}" target="_blank">
                  <button mat-button>
                    <mat-icon color="primary">date_range</mat-icon>
                    Läs mer och boka
                  </button>
                </a>
              </mat-list-item>
            </mat-list>
          </div>
        </section>
        <section class="row">
          <div class="col-xs-12 col-sm-6 showcase showcase-living">
            <mat-icon>airline_seat_individual_suite</mat-icon>
          </div>
          <div class="col-xs-12 col-sm-6 infospace">
            <mat-list>
              <h3 matSubHeader>Förslag på boende</h3>
              <mat-list-item>
                <button mat-button class="place-button" (click)="place_living = 'birger_jarl'"><mat-icon color="accent">place</mat-icon>M/S Birger Jarl</button>
              </mat-list-item>
              <mat-list-item>
                <button mat-button class="place-button" (click)="place_living = 'hilton'"><mat-icon color="accent">place</mat-icon>Hilton, Slussen</button>
              </mat-list-item>
              <mat-list-item>
                <button mat-button class="place-button" (click)="place_living = 'alvsjo'"><mat-icon color="accent">place</mat-icon>Hotell Älvsjö</button>
              </mat-list-item>
              <br />
              <mat-divider></mat-divider>
              <br/>
              <mat-list-item>
                <em>För ytterligare förslag, besök <a href="https://www.booking.com/">Booking.com</a>, <a href="https://www.hotels.com/">Hotels.com</a>, <a href="https://www.trivago.se/">Trivago</a> eller någon annan bokningssajt.</em>
              </mat-list-item>
            </mat-list>
          </div>
        </section>
      </section>
    </article>
  </mat-tab>
</mat-tab-group>

