<main class="row center-xs">
  <h1 class="title col-xs-12 col-sm-10 col-md-8">Privacy Policy</h1>
  <article class="col-xs-12 col-sm-10 col-md-8">
    <section>
      <h1>Samlande av Personlig Information</h1>
      <h2>Registrering</h2>
      <p>Endast information du ger vid registrering kommer att sparas.</p>
      <h2>Instagram</h2>
      <p>Bilder från ditt Instagram kommer ej att sparas.</p>
    </section>
    <section>
      <h1>Delning av Personlig Information</h1>
      <p>Ingen information om dig kommer att delas med någon.</p>
    </section>
  </article>
  <article class="col-xs-12 col-sm-10 col-md-8">
    <section>
      <h1>Collecting Personal Information</h1>
      <h2>Registration</h2>
      <p>Only personal information you send upon sign up will be stored.</p>
      <h2>Instagram</h2>
      <p>Images from your Instagram feed will not be stored.</p>
    </section>
    <section>
      <h1>Sharing Personal Information</h1>
      <p>No information about you will be shared with anyone.</p>
    </section>
  </article>
</main>
