<article class="full-height">
  <section class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h2>mitt svar</h2>
    <section class="row">
      <div class="col-xs-12 col-sm-6 showcase showcase-answer">
        <mat-icon>drafts</mat-icon>
      </div>
      <div class="col-xs-12 col-sm-6 infospace" *ngIf="attr && attr.email !== guestEmail">
        <mat-list *ngIf="attr">
          <h3 matSubHeader>Uppgifter</h3>
          <mat-list-item>
            <span>Namn: <strong>{{attr.name}}</strong></span>
          </mat-list-item>
          <mat-list-item>
            <span>Email: <strong>{{attr.email}}</strong></span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 matSubHeader>Preferenser</h3>
          <mat-list-item>
            <span>Alkohol: <strong>{{attr.alcohol}}</strong></span>
          </mat-list-item>
          <mat-list-item>
            <span>Vegetarian: <strong>{{attr.vegetarian}}</strong></span>
          </mat-list-item>
          <mat-list-item>
            <span>Allergier: <strong>{{attr.allergies}}</strong></span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 matSubHeader>Meddelande</h3>
          <mat-list-item>{{attr.message}}</mat-list-item>
        </mat-list>
      </div>
      <div class="col-xs-12 col-sm-6 infospace" *ngIf="attr && attr.email === guestEmail">
        <mat-list *ngIf="attr">
          <mat-list-item>{{attr.message}}</mat-list-item>
        </mat-list>
      </div>
    </section>
  </section>
</article>
