<div class="page" [class.under-construction]="under_construction">
  <mat-sidenav-container class="page-container">
    <mat-sidenav #sidenav class="page-sidenav">
      <nav>
        <a *ngFor="let option of menu" routerLink="{{option.link}}" routerLinkActive="active">
          <mat-icon>{{option.icon}}</mat-icon>
          {{option.text}}
        </a>
        <a (click)="signout()" class="signout">
          <mat-icon>subdirectory_arrow_left</mat-icon>
          Logga ut
        </a>
      </nav>
    </mat-sidenav>

    <div class="page-sidenav-content">
      <header>
        <mat-toolbar>
          <mat-toolbar-row class="page-toolbar-nav">
            <button type="button" mat-button (click)="sidenav.open()">
              <mat-icon>menu</mat-icon>
            </button>
            <nav>
              <a *ngFor="let option of menu" routerLink="{{option.link}}" routerLinkActive="active">
                <mat-icon>{{option.icon}}</mat-icon>
                {{option.text}}
              </a>
              <a (click)="signout()" class="signout">
                <mat-icon>subdirectory_arrow_left</mat-icon>
                Logga ut
              </a>
            </nav>
          </mat-toolbar-row>
        </mat-toolbar>
      </header>
      <div class="box full-height" id="dash-content" [@routerTransition]="getState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  </mat-sidenav-container>
</div>
