@import '../../styles.scss';
@import '../../theme.scss';

nav {
  a.signout {
      cursor: pointer;
  }
}

mat-card {
  align-self: flex-end;
  margin: 2em;
  padding: 1em;
  text-align: center;
  h2 {
    font-size: 4em;
  }
}
