/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Mf Wedding Bells";
  src: url('/assets/fonts/Mf wedding Bells.ttf') format('TrueType');
}

@font-face {
  font-family: "RaphLanokFuture";
  src: url('/assets/fonts/RaphLanokFuture.otf') format('OpenType'),
  url('/assets/fonts/RaphLanokFuture.ttf') format('TrueType');
}

@font-face {
  font-family: "Quinzey";
  src: url('/assets/fonts/Quinzey.otf') format('OpenType');
  font-weight: 100;
}
@font-face {
  font-family: "Quinzey";
  src: url('/assets/fonts/Quinzey_Medium.otf') format('OpenType');
  font-weight: 200;
}
@font-face {
  font-family: "Quinzey";
  src: url('/assets/fonts/Quinzey_Bold.otf') format('OpenType');
}

@font-face {
  font-family: "Comfortaa";
  src: url('/assets/fonts/Comfortaa-Regular.ttf') format('TrueType');
}
@font-face {
  font-family: "Comfortaa";
  src: url('/assets/fonts/Comfortaa-Light.ttf') format('TrueType');
  font-weight: 200;
}
@font-face {
  font-family: "Comfortaa";
  src: url('/assets/fonts/Comfortaa-Bold.ttf') format('TrueType');
  font-weight: 600;
}

@import '~flexboxgrid-sass/flexboxgrid.scss';
@import 'theme.scss';

html, body {
  padding: 0;
  margin: 0;
  font-family: "Quinzey", Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.page, .page-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  .box {
    overflow: auto;
  }
  header {
  }
  main {
    flex-grow: 1;
    overflow-x: hidden;
  }
  &.under-construction {
    height: calc(100vh - 2em);
  }
}

.page {
  overflow: hidden;
  .page-sidenav, .page-sidenav-button {
    display: none;
    @media ($mat-small) {
      display: block;
    }
  }
  .page-sidenav {
    nav {
      width: 100%;
      min-width: 66.67vw;
      display: flex;
      flex-direction: column;
      padding-top: 0.5em;
      a {
        display: flex;
        align-items: center;
        margin: 1em 0;
        padding: 0.5em 1em;
        font-size: 1.5em;
        flex-grow: 1;
        text-decoration: none;
        border-bottom: 2px solid lightgray;
        text-align: left;
        color: mat-color($brollop-color-greyscale, A500);
        font-family: "Quinzey", Roboto, "Helvetica Neue", sans-serif;
        &.active {
          color: mat-color($brollop-color-green, A500);
          border-color: mat-color($brollop-color-green, A500);
        }
        &:focus {
          outline: none;
        }
        mat-icon {
          margin-right: 0.5em;
        }
      }
    }
  }
  .page-toolbar-nav {
    button {
      display: none;
    }
    @media ($mat-small) {
      display: flex;
      align-items: center;
      padding-left: 0;
      button {
        display: block;
      }
      a:not(.active) {
        display: none;
      }
    }
  }
}

.mat-form-field-underline {
  background-color: rgba(0, 0, 0, .14);
}

.mat-form-field-placeholder {
  color: rgba(0, 0, 0, .42);
}

h2 {
  font-family: "RaphLanokFuture", Arial, SansSerif;
  font-weight: normal;
  line-height: normal;
  font-size: 12vw;
  margin: 0;
  text-transform: lowercase;
  color: mat-color($brollop-color-mauve, 500);
  background: -webkit-linear-gradient(mat-color($brollop-color-mauve, 100), mat-color($brollop-color-mauve, 500));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  @media (min-width: 768px) {
    font-size: 8vw;
  }
  @media (min-width: 1200px) {
    font-size: 5vw;
  }
  user-select: none;
}

.video-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #000;
  z-index: -999;
  .poster {
    display: block;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
  }
  &::after {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.video-container video.fillWidth {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
}

header {
  nav {
    width: 100%;
    display: flex;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      text-decoration: none;
      border-bottom: 2px solid lightgray;
      text-align: center;
      color: mat-color($brollop-color-greyscale, A500);
      &.active {
        color: mat-color($brollop-color-green, A500);
        border-color: mat-color($brollop-color-green, A500);
      }
      &:focus {
        outline: none;
      }
      mat-icon {
        margin-right: 0.5em;
      }
    }
  }
}

mat-icon {
  font-family: 'Material Icons' !important;
}

.mat-horizontal-content-container {
  padding: 0 !important;
}

h3 {
  color: #666;
  font-weight: 200;
  letter-spacing: 3px;
  font-family: "Quinzey", Roboto, "Helvetica Neue", sans-serif;
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media ($mat-xsmall) {
    justify-content: center;
    padding-top: 1em;
  }
  mat-icon {
    font-size: 25vw;
    width: 1em;
    height: 1em;
    user-select: none;
    @media ($mat-small) {
      font-size: 15em;
    }
    @media ($mat-xsmall) {
      font-size: 33.33vw;
    }
  }
}

.full-height, .full-height .mat-tab-body-wrapper, .full-height .mat-tab-body-wrapper mat-tab-body , .full-height .mat-tab-body-wrapper mat-tab-body  .mat-tab-body-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  //overflow: hidden;
}

.full-height .mat-tab-body-wrapper {
  //overflow-y: auto;
}

.full-height .mat-tab-body-wrapper mat-tab-body  .mat-tab-body-content {
  //overflow-y: visible;
}


@mixin floatingAnimation($scaleStart, $scaleEnd, $translateYStart, $translateYEnd, $rotateStart, $rotateEnd, $duration) {
  @keyframes floating {
    0%, 100% {transform: scale($scaleStart) translateY($translateYStart) rotate($rotateStart);}
    50% {transform: scale($scaleEnd) translateY($translateYEnd) rotate($rotateEnd);}
  }
  animation: floating $duration infinite ease-in-out;
}
